<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Category
{% endblock title %}


{% block content %}
    {% if user_auth %}
        {% if not is_subscriber %}
            <h3>Подпишитесь на рассылку постов данной категории на ваш e-mail.</h3>
            <button><a href="{% url 'subscribe' category.pk %}">Подписаться</a></button>
        {% else %}
            <h3>Вы можете отписаться от рассылки постов данной категории на ваш e-mail.</h3>
            <button><a href="{% url 'unsubscribe' category.pk %}">Отписаться</a></button>
        {% endif %}
    {% endif %}
{% endblock content %}