<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.get_type_display }}</h1>
<h1>{{ post.title|censor }}</h1>
<h1>{{ post.creation|date:'d.m.Y' }}</h1>
{{ post.description|censor }}
{% if user_auth %}
    {% for category in categories %}
        {% if not request.user in category.subscribers.all %}
            <BR><button><a href="{% url 'subscribe' category.pk %}">Подписаться на категорию {{ category }}</a></button>
        {% else %}
            <BR><button><a href="{% url 'unsubscribe' category.pk %}">Отписаться от категории {{ category }}</a></button>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}